@charset "UTF-8";
/* line 5, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/index.scss */
body {
  font: 16px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';
  -webkit-text-size-adjust: none;
  font-family: "Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
  color: #1a1a1a;
  color: #444;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
  min-width: 320px;
}

/* line 17, ../sass/index.scss */
.clearfix {
  clear: both;
}

/*
header{
	color:#fff;
	height:45px;
	background:rgb(96, 125, 139);
	@include box-shadow(rgb(170, 170, 170) 0px 0px 0px);
	position: relative;
	font-size: 18px;
	.text{
	   position: absolute;
	   width:100%;
	   left:0;
	   top:50%;
	   margin-top:-12px;
	   font-size:18px;
       text-align: center;
       display: inline-block;
	}
	.fa-chevron-left{
	  font-size: 24px;
	  position: absolute;
	  left: 0;
	  top: 50%;
	  margin-top: -12px;
	}
	.icon-back{
	  width: 60px;
	 position:absolute;
	 top:0;
	 left:6px;
	 height: 45px;
     line-height: 45px;
     span{
        font-size: 16px;
	    position: absolute;
	    display: inline-block;
	    left: 0;
	    top: 0;
	    width: 40px;
	    margin-left: 24px;
	    margin-top: -2px;
     }
	}
}
*/
/*
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('http://cdn.bootcss.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.eot');
  src: url('http://cdn.bootcss.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('http://cdn.bootcss.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.woff') format('woff'), url('http://cdn.bootcss.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('http://cdn.bootcss.com/bootstrap/3.2.0/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  font-family: 'Glyphicons Halflings';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-calendar:before {
  content: "\e109";
}
*/
@font-face {
  font-family: 'FontAwesome';
  src: url("../resources/font-awesome/fonts/fontawesome-webfont.eot");
  src: url("../resources/font-awesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../resources/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("../resources/font-awesome/fonts/fontawesome-webfont.svg#glyphicons_halflingsregular") format("svg");
}
/* line 102, ../sass/index.scss */
.glyphicon {
  /*font-family: 'FontAwesome';*/
  font-size: 24px;
  color: #fff;
  /*font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

/* line 114, ../sass/index.scss */
header, footer {
  width: 100%;
  height: 50px;
}

/* line 118, ../sass/index.scss */
header .fixed, footer .fixed {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50px;
}

/* line 124, ../sass/index.scss */
header .fixed .wrap, footer .fixed .wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 131, ../sass/index.scss */
header .fixed .wrap.float h1, footer .fixed .wrap.float h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

/* line 141, ../sass/index.scss */
header .fixed .wrap.float .glyphicon,
footer .fixed .wrap.float .glyphicon {
  display: inline-block;
  color: #fff;
  margin: 12px 10px;
  position: relative;
}

/* line 148, ../sass/index.scss */
header .fixed .wrap.flex .glyphicon,
footer .fixed .wrap.flex .glyphicon {
  color: #444444;
}

/* line 152, ../sass/index.scss */
header .fixed .wrap.float .glyphicon-text,
footer .fixed .wrap.float .glyphicon-text {
  display: inline-block;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 24px;
  width: 100%;
  margin-top: -9px;
  min-width: 40px;
}

/* line 163, ../sass/index.scss */
header .fixed .wrap.float .left-icon,
footer .fixed .wrap.float .left-icon {
  float: left;
}

/* line 167, ../sass/index.scss */
header .fixed .wrap.float .right-icon,
footer .fixed .wrap.float .right-icon {
  float: right;
}

/* line 171, ../sass/index.scss */
header .fixed .wrap.float:before,
footer .fixed .wrap.float:before,
header .fixed .wrap.float:after,
footer .fixed .wrap.float:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 180, ../sass/index.scss */
header .fixed .wrap.float:after,
footer .fixed .wrap.float:after {
  clear: both;
}

/* line 184, ../sass/index.scss */
header .fixed .wrap.flex,
footer .fixed .wrap.flex {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}

/* line 194, ../sass/index.scss */
header .fixed .wrap.flex > a,
footer .fixed .wrap.flex > a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0;
  -moz-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  text-align: center;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
/* line 6, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
header .fixed .wrap.flex > a:active, header .fixed .wrap.flex > a:focus,
footer .fixed .wrap.flex > a:active,
footer .fixed .wrap.flex > a:focus {
  outline: none;
}

/* line 209, ../sass/index.scss */
header .fixed .wrap.flex > a .glyphicon,
footer .fixed .wrap.flex > a .glyphicon {
  vertical-align: -7px;
}

/* line 213, ../sass/index.scss */
footer .fixed .wrap.flex > a .text {
  font-size: 14px;
  display: block;
}

/* line 217, ../sass/index.scss */
header .fixed {
  top: 0;
  background-color: #607d8b;
  box-shadow: #aaaaaa 0px 0px 0px;
}

/* line 222, ../sass/index.scss */
footer .fixed {
  bottom: 0;
  background: #f8f8f8;
  border-top: 1px solid #bbbbbb;
  -moz-box-shadow: #aaaaaa 0px 0px 0px;
  -webkit-box-shadow: #aaaaaa 0px 0px 0px;
  box-shadow: #aaaaaa 0px 0px 0px;
}

/* line 228, ../sass/index.scss */
header .fixed-h100, footer .fixed-h100 {
  height: 100px;
}

/* line 234, ../sass/index.scss */
header, footer {
  position: relative;
  z-index: 99;
}

/* line 238, ../sass/index.scss */
.btn {
  background: #9ccc65;
  border: 1px solid #7cb342;
  font-size: 18px;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 249, ../sass/index.scss */
.button-box {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
}
/* line 255, ../sass/index.scss */
.button-box .btn-full {
  height: 45px;
  line-height: 45px;
}

/* line 261, ../sass/index.scss */
footer .label {
  border-bottom: 1px solid #bbbbbb;
}
/* line 263, ../sass/index.scss */
footer .label .left {
  font-size: 24px;
  padding-left: 20px;
  width: 30px;
  float: left;
}
/* line 269, ../sass/index.scss */
footer .label .right {
  margin-left: 50px;
  padding-right: 20px;
}
/* line 272, ../sass/index.scss */
footer .label .right p {
  text-align: right;
  font-size: 18px;
}
/* line 279, ../sass/index.scss */
footer .label .right p.orange {
  color: #ff5722;
}
/* line 283, ../sass/index.scss */
footer .label > div {
  height: 50px;
  line-height: 50px;
}

/* line 290, ../sass/index.scss */
.m-flex {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}

/* line 299, ../sass/index.scss */
.m-flex > .m-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* width:0; */
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  /* flex-basis:0; */
  max-width: 100%;
  display: block;
  padding: 0 !important;
  position: relative;
}

/* line 313, ../sass/index.scss */
.flex-equal, .flex-center, .justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/* line 320, ../sass/index.scss */
.flex-equal li {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

/* line 327, ../sass/index.scss */
.table-equal {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* line 332, ../sass/index.scss */
.table-equal li {
  display: table-cell;
}

/* line 335, ../sass/index.scss */
.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* line 346, ../sass/index.scss */
.translate-center {
  position: relative;
}

/* line 350, ../sass/index.scss */
.translate-center .children {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 357, ../sass/index.scss */
.justify {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 10px;
  background: #0078e7;
  color: #fff;
  line-height: 32px;
}

/* line 368, ../sass/index.scss */
.square-img-cover {
  position: relative;
  padding-top: 100%;
  height: 0;
  overflow: hidden;
}

/* line 374, ../sass/index.scss */
.square-img-cover img {
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 377, ../sass/index.scss */
#index .items {
  margin: 10px;
}
/* line 380, ../sass/index.scss */
#index .item {
  padding: 5px;
}
/* line 382, ../sass/index.scss */
#index .item a {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  line-height: 0;
}
/* line 388, ../sass/index.scss */
#index .item a img {
  width: 100%;
  height: 100%;
}

/* line 398, ../sass/index.scss */
#category .items {
  margin: 10px;
}
/* line 402, ../sass/index.scss */
#category .desc h1 {
  text-align: center;
  font-size: 36px;
}
/* line 408, ../sass/index.scss */
#category .desc h2 {
  text-align: center;
  font-size: 20px;
}
/* line 414, ../sass/index.scss */
#category .desc h2.price {
  color: #08c;
}
/* line 417, ../sass/index.scss */
#category .desc .p-img-cover {
  text-align: center;
  background: #fff;
}
/* line 420, ../sass/index.scss */
#category .desc .p-img-cover img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}
/* line 427, ../sass/index.scss */
#category ul li a {
  display: block;
  background: #fff;
  overflow: hidden;
  width: 100%;
  /* padding:{
    top:5px;
    bottom:5px;
   }*/
}
/* line 436, ../sass/index.scss */
#category ul li a .left {
  width: 90px;
  height: 90px;
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}
/* line 444, ../sass/index.scss */
#category ul li a .left i {
  height: 80px;
  width: 80px;
}
/* line 448, ../sass/index.scss */
#category ul li a .left i.iPhone6 {
  background: url("../images/icon-iPhone6.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 453, ../sass/index.scss */
#category ul li a .right {
  margin-left: 100px;
  height: 99px;
  border-bottom: 1px solid #f8f8f8;
  /*>div{
   width:100%;
  }*/
}
/* line 460, ../sass/index.scss */
#category ul li a .right .text {
  margin-right: 50px;
  /* @include inline-block;*/
  overflow: hidden;
  font-size: 20px;
  color: #444;
}
/* line 466, ../sass/index.scss */
#category ul li a .right .text > div {
  height: 99px;
}
/* line 468, ../sass/index.scss */
#category ul li a .right .text > div > div {
  width: 100%;
}
/* line 473, ../sass/index.scss */
#category ul li a .right .more {
  width: 50px;
  float: right;
  /* @include inline-block;*/
  font-size: 30px;
  color: #444;
}
/* line 479, ../sass/index.scss */
#category ul li a .right .more > div {
  height: 99px;
}

/* line 487, ../sass/index.scss */
#product .img-box {
  text-align: center;
  padding: 20px;
}
/* line 490, ../sass/index.scss */
#product .img-box img {
  max-width: 100%;
  width: 100%;
}
/* line 495, ../sass/index.scss */
#product .desc-content {
  padding-top: 50px;
}
/* line 499, ../sass/index.scss */
#product .desc-content h1 {
  font-size: 18px;
  font-weight: bold;
}
/* line 505, ../sass/index.scss */
#product .desc-content h2 {
  font-size: 16px;
  font-weight: bold;
}
/* line 511, ../sass/index.scss */
#product .desc-content h3 {
  font-size: 16px;
  font-weight: bold;
  color: #777;
}
/* line 518, ../sass/index.scss */
#product .desc-content h3.send {
  color: #fba51c;
}
/* line 522, ../sass/index.scss */
#product .items {
  background: #fff;
}
/* line 524, ../sass/index.scss */
#product .items .item {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 531, ../sass/index.scss */
#product .items .item > h2 {
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
}
/* line 539, ../sass/index.scss */
#product .items .item .squre-left {
  padding-right: 10px;
}
/* line 544, ../sass/index.scss */
#product .items .item .squre-right {
  padding-left: 10px;
}
/* line 549, ../sass/index.scss */
#product .items .item .squre-middle {
  padding-left: 10px;
  padding-right: 10px;
}
/* line 555, ../sass/index.scss */
#product .items .item .squre {
  border: 1px solid #d6d6d6;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 12px 6px;
}
/* line 559, ../sass/index.scss */
#product .items .item .squre h1, #product .items .item .squre h2 {
  text-align: center;
}
/* line 562, ../sass/index.scss */
#product .items .item .squre h1 {
  font-size: 16px;
}
/* line 565, ../sass/index.scss */
#product .items .item .squre h2 {
  font-size: 14px;
}
/* line 569, ../sass/index.scss */
#product .items .item .checked {
  border-color: #08c;
}

/* line 577, ../sass/index.scss */
#cart .items .item {
  background: #fff;
  border-top: 1px solid #bbb;
  margin-top: 36px;
  overflow: hidden;
}
/* line 582, ../sass/index.scss */
#cart .items .item .s_left {
  width: 120px;
  float: left;
}
/* line 585, ../sass/index.scss */
#cart .items .item .s_left .img_box {
  padding: 10px;
  text-align: center;
}
/* line 588, ../sass/index.scss */
#cart .items .item .s_left .img_box img {
  max-width: 100%;
}
/* line 593, ../sass/index.scss */
#cart .items .item .s_right {
  overflow: hidden;
  padding-top: 10px;
  margin-left: 120px;
}
/* line 599, ../sass/index.scss */
#cart .items .item .s_right .c_right {
  float: right;
  /*width:110px;*/
  padding-right: 10px;
}
/* line 605, ../sass/index.scss */
#cart .items .item .s_right .c_right h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
}
/* line 612, ../sass/index.scss */
#cart .items .item .s_right .c_right a {
  float: right;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #aaa;
  font-size: 24px;
  font-weight: bold;
  /*margin-top: 24px;*/
  margin-top: 5px;
}
/* line 6, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#cart .items .item .s_right .c_right a:active, #cart .items .item .s_right .c_right a:focus {
  outline: none;
}
/* line 624, ../sass/index.scss */
#cart .items .item .s_right .c_left {
  /* margin-right:110px;*/
}
/* line 626, ../sass/index.scss */
#cart .items .item .s_right .c_left h2 {
  font-size: 18px;
  font-weight: bold;
}
/* line 632, ../sass/index.scss */
#cart .items .item .s_right .c_left h3 {
  font-size: 16px;
  font-weight: bold;
}
/* line 638, ../sass/index.scss */
#cart .items .item .s_right .c_left h3.send-time {
  color: #999;
}

/* line 645, ../sass/index.scss */
.adress-box {
  border-image: url(../images/adress_border.png) 20 30 round;
  -moz-border-image: url(../images/adress_border.png) 20 30 round;
  /* 老的 Firefox */
  -webkit-border-image: url(../images/adress_border.png) 20 30 round;
  /* Safari 和 Chrome */
  -o-border-image: url(../images/adress_border.png) 20 30 round;
  /* Opera */
  border-width: 10px 0px;
}

/* line 652, ../sass/index.scss */
.adress-box1 {
  border-image: url(../images/adress_border.png) 15 25 round;
  -moz-border-image: url(../images/adress_border.png) 15 25 round;
  /* 老的 Firefox */
  -webkit-border-image: url(../images/adress_border.png) 15 25 round;
  /* Safari 和 Chrome */
  -o-border-image: url(../images/adress_border.png) 15 25 round;
  /* Opera */
  border-width: 0px 10px;
}

/* line 660, ../sass/index.scss */
#adress-box {
  padding: 10px;
}
/* line 662, ../sass/index.scss */
#adress-box .left {
  float: left;
  width: 30px;
}
/* line 665, ../sass/index.scss */
#adress-box .left a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 24px;
  color: #8bc34a;
}
/* line 6, c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_unstyled-link.scss */
#adress-box .left a:active, #adress-box .left a:focus {
  outline: none;
}
/* line 672, ../sass/index.scss */
#adress-box .right {
  margin-left: 30px;
}
/* line 674, ../sass/index.scss */
#adress-box .right .s_right {
  float: right;
  width: 100px;
}
/* line 677, ../sass/index.scss */
#adress-box .right .s_right .btn {
  line-height: 24px;
}
/* line 681, ../sass/index.scss */
#adress-box .right .s_left {
  /*margin-right:120px;*/
}
/* line 683, ../sass/index.scss */
#adress-box .right .s_left p {
  font-size: 16px;
  line-height: 25px;
}

/* line 693, ../sass/index.scss */
#cart .order-items .item {
  margin-top: 10px;
  border-bottom: 1px solid #bbb;
}
